

.fade-in-element {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in-element.visible {
  opacity: 1;
  transform: translateY(0);
}


h1 {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  * {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  
  /* <---------- Header Section ----------> */

  .fixed-header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    /* high enough to stay above other content */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* optional visual enhancement */
  }

  .nav-link {
    color: #33CC99;
  }

  .nav-link:hover {
    color: #2baf83;
  }

  .nav-pills .nav-link.active {
    background-color: #33CC99;
    /* your desired active background */
    color: white;
    /* active text color */
  }

  .nav-link.active:hover {
    background-color: #2AA77F;
  }

  /* <------------- Hero Section -------------> */
  .hero-container::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 150px; /* adjust as needed */
    width: 100%;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 70%, white 100%);
    z-index: 2;
    pointer-events: none;
  }
  .hero-container {
    position: relative;
    z-index: 2;
  }

  .music-overlay-text,
  .food-overlay-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-family: "Righteous", sans-serif;
    color: rgb(255, 255, 255);
    top: 30%;
    left: 32%;
  }

  .music-col,
  .food-col {
    position: relative;
  }

  .object-fit-cover {
    object-fit: cover;
    width: 100%;
    height: 600px;
  }

  svg:hover {
    filter: drop-shadow(0 0 8px #33CC99);
    transform: scale(1.05);
  }

  svg {
    transition: all 0.3s ease;
  }

  .log-in-music {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hero-log-in-btn {
    background-color: #33CC99;
    border: 0;
  }

  .hero-log-in-btn:hover {
    background-color: #2AA77F;
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  .hero-log-in-btn:active:focus {
    background-color: #1C6652;
    
  }

  .sign-up-food {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hero-sign-up-btn {
    background-color: #FF9F80;
    border: 0;
  }

  .hero-sign-up-btn:hover {
    background-color: #E8685B;
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  .hero-sign-up-btn:active:focus {
    background-color: #C94F45;
  }

  .hero-sign-up-btn, .hero-log-in-btn {
    transition: background-color 0.2s ease, transform 0.1s ease;
  }

  /* <-------------- Feautres Section --------------> */
  .feature:hover {
    filter: drop-shadow(0 0 8px #FF9F80);
    transform: scale(1.05);
  }
  .feature {
    transition: all 0.3s ease; 
    z-index: 2;
  }

  #features {
    position: relative;
  }

  .peach-circle {
    background-color: #FF9F80;
    position: absolute;
  }
  .teal-circle {
    background-color: #33CC99;
    position: absolute;
  }
  .circle-one {
    width: 200px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    left: -100px;
    top: -100px;
    z-index: 1;
  }
  .circle-two {
    width: 170px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    left: 80%;
    top: 60%;
    z-index: -1;
  }
  .circle-three {
    width: 10px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    left: 50%;
    top: -20%;
    z-index: -1; 
  }
  .circle-four {
    width: 30px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    left: 35%;
    top: -14%;
    z-index: -1; 
  }
  .circle-five {
    width: 35px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    left: 65%;
    top: -10%;
    z-index: -1; 
  }

  .circle-six {
    width: 200px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    left: 90%;
    top: -100px;
    z-index: -1;
  }


  @media (max-width: 768px) {

    .hero-button-1 {
      display: none;
    }

    .hero-button-2 {
      display: block;
    }
  }